.super-comp {
  display: flex;
  padding: 10px;
}
.sub-comp-1,
.sub-comp-2 {
  margin: 10px 20px;
  flex-grow: 1;
}
.sub-comp-2 {
  display: flex;
  justify-content: flex-end;
}
h4 {
  padding: 0;
  margin: 0;
}

select {
  border-radius: 10px;
  padding: 5px;
}
